  .home{
    text-align: center;
  }

  .prompt{
    font-size: 40px;
    font-family:'Merienda';
    font-weight: bold;
  }

  input[type="text"] {
    border: solid 1px black;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  button {
    padding: 10px;
    border: solid 1px black;
    background: black;
    color: white;
    border-radius: 8px;
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
    input[type="text"] {
        width: 70%;
    }   
  }
  