  .home{
    text-align: center;
  }

  .prompt{
    font-size: 40px;
    font-family:'Merienda';
    font-weight: bold;
  }

  .description{
    font-size: 29px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
  }

  input[type="text"] {
    border: solid 1px black;
    padding: 10px;
    border-radius: 8px;
    margin-right: 4px;
    display: inline-block;
    width: 30%;
  }
  
  button {
    padding: 10px;
    border: solid 1px black;
    background: black;
    color: white;
    border-radius: 8px;
  }
  
  @media (min-width: 500px) and (max-width: 768px) {
    input[type="text"] {
        width: 70%;
    }   
  }

  .background-radial-gradient {
    background-color: hsl(218, 41%, 15%);
    background-image: radial-gradient(650px circle at 0% 0%,
        hsl(218, 41%, 35%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%),
      radial-gradient(1250px circle at 100% 100%,
        hsl(218, 41%, 45%) 15%,
        hsl(218, 41%, 30%) 35%,
        hsl(218, 41%, 20%) 75%,
        hsl(218, 41%, 19%) 80%,
        transparent 100%);
    background-size: cover;
    height: 100vh;
  }

  #radius-shape-1 {
    height: 220px;
    width: 220px;
    top: -60px;
    left: -130px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
    animation: expandCircle1 8s linear infinite;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: -60px;
    right: -110px;
    width: 300px;
    height: 300px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
    animation: expandCircle2 4s linear infinite;
  }

  .bg-glass {
    background-color: hsla(0, 0%, 100%, 0.9) !important;
    backdrop-filter: saturate(200%) blur(25px);
  }

  @keyframes expandCircle2 {
    0% {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      width: 300px;
      height: 300px;
    }
    50% {
      border-radius: 58% 37% 80% 68% / 50% 66% 37% 80%;
      height: 220px;
      width: 220px;
    }
    100% {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      width: 300px;
      height: 300px;
    }
    
  }

  @keyframes expandCircle1 {
    0% {
      width: 150px;
      height: 150px;
    }
    50% {
      width: 220px;
      height: 220px;
    }
    100% {
      width: 150px;
      height: 150px;
    }
    
  }

  