<div class="text-center">
    <h1>Learning Path: {{ topic }}</h1>
</div>

<ul *ngFor="let topic of content">
    <li><h4>{{topic.name}}</h4></li>
    <p>{{topic.description}}</p>
</ul>

<div>
    Select a topic 
    <select [(ngModel)]="name" (change)="selected()" >
        <option *ngFor="let topic of content" [ngValue]="topic.name">{{topic.name}}</option>
    </select> 
    and the difficulty level <select [(ngModel)]="rating" (change)="selected()" >
        <option *ngFor="let n of numSequence(5); let i = index;" [ngValue]="i+1">{{i + 1}}</option>
    </select> 
  
    <br>
    <button type="button" class="btn btn-primary" [routerLink]="['/topic', name, rating]" routerLinkActive="active">
        Search
    </button>
</div>

<!-- <div class="container">
    <div class="text-center">
        <h2 class="section-heading text-uppercase">Youtube Videos</h2><br>
    </div>
    <div class="card text-center video" style="width: 18rem;">
        <img src="https://mdbcdn.b-cdn.net/img/new/standard/nature/184.webp" class="card-img-top" alt="Sunset Over the Sea"/>
        <div class="card-body">
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
    </div>
</div> -->