<div class="d-flex">
	<div ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-pills flex-column" orientation="vertical" >
            <ng-container ngbNavItem="{{topic}}" *ngFor="let topic of content">
                <button ngbNavLink (click)="selected()">{{topic}}</button>
                <ng-template ngbNavContent>
                    <div [innerHTML]="description"></div>
                </ng-template>
            </ng-container>
	</div>

	<div [ngbNavOutlet]="nav" class="ms-4"></div>
</div>

